# DATABASE MYSQL (AIVEN CLOUD)
DB_URL=jdbc:mysql://<HOST>:<PORT>/fieldfinder?ssl-mode=REQUIRED
DB_USERNAME=avnadmin
DB_PASSWORD=your_password_here

# MONGODB (ATLAS CLOUD)
MONGO_DB_PASSWORD=your_mongo_password_here

# PAYOS
YOUR_CLIENT_ID=your_client_id
YOUR_API_KEY=your_api_key
YOUR_CHECKSUM_KEY=your_checksum_key

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# EMAIL
MAIL_PASS=your_app_password_here

# SECURITY
JWT_SECRET=your_random_secret_string

# SOCIAL LOGIN
GOOGLE_CLIENT_ID=your_google_id
FACEBOOK_APP_ID=your_fb_id
FACEBOOK_APP_SECRET=your_fb_secret
